* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

/* global classes */
.conteiner {
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    font-weight: 500;


}

header nav ul a {

    color: black;
}

header nav ul a:hover {

    color: rgb(11, 56, 101);
    text-decoration: underline;
}



header .nav-logo span {
    color: blue;
}

@media screen and (max-width : 768px) {
    header nav ul {
        display: none;

    }

}